/* @font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik.ttf") format("truetype");
} */

:root {
    /* Color Variables */
    --aed-red: #FF0D0D;
    --off-black: #222222;
    --off-white: #F2E9E8;
    --primary-app: #FF0D0D;

    --decline-red: #FF0000;
    --accept-green: #00FF00;

    --white: #FFFFFF;
    --black: #000000;

    /* Font Variables */
    --title-font: 'Rubik', 32px;
    --h3-font: 'Rubik', 20px;
    --h2-font: 'Rubik', 24px;
    --p-font: 'Rubik', 16px;

    /* Border Radius Variables */
    --border-radius: 20px;
    --pfp-img-radius: 100%;
    --decline-accept-radius: 100%;
}